<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfm6TdK9iEB2AmPgX7HC6DvjqozpqnnM8</string>
	<key>GCM_SENDER_ID</key>
	<string>489323196307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentdetails.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>student-75ae2</string>
	<key>STORAGE_BUCKET</key>
	<string>student-75ae2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489323196307:ios:12935f38f2d07be8010266</string>
</dict>
</plist>